[submodule "library/python-cmake-buildsystem"]
	path = library/python-cmake-buildsystem
	url = https://github.com/aldebaran/python-cmake-buildsystem.git
[submodule "library/fast-downward"]
	path = library/fast-downward
	url = https://github.com/aldebaran/downward.git
